* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e6e6e6;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    position: relative;
}

.container {
    width: 100%;
    max-width: 600px; /* Increase the container width */
    padding: 40px; /* Increase padding for a larger look */
    background-color: #c3b853; /* Set yellow background */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 20px;
    left: 20px;
}

.conversion-rates {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f8f8f8;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.85em;
    color: #333;
    text-align: left;
}

h1 {
    text-align: center;
    color: #333;
}

/* Flexbox for aligning labels and inputs */
.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

label {
    flex-basis: 40%; /* Adjusts the width of the label */
}

.currency-symbol {
    margin-right: 5px;
}

input[type="text"], select {
    width: 50%; /* Adjust the input width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="range"] {
    width: 50%; /* Adjust the range input width */
    margin-left: 10px;
}

/* Change slider color */
input[type="range"] {
    -webkit-appearance: none;
    background: #ddd;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: blue; /* Slider color */
    border-radius: 50%;
    cursor: pointer;
}

input[disabled] {
    background-color: #f0f0f0;
    color: #666;
}

#tipDisplay {
    display: inline-block;
    margin-left: 10px;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 15px;
    display: none;
}
