* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e6e6e6;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    position: relative;
}

.container {
    width: 100%;
    max-width: 800px; /* Increased container width */
    padding: 50px; /* Increased padding for a larger look */
    background-color: #c3b853; /* Yellow background */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 20px;
    left: 20px;
}

.conversion-rates {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f8f8f8;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.85em;
    color: #333;
    text-align: left;
}

h1 {
    text-align: center;
    color: #333;
}

/* Flexbox for aligning labels and inputs */
.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

label {
    flex-basis: 40%; /* Adjusts the width of the label */
}

.currency-symbol {
    margin-right: 5px;
}

input[type="text"], input[type="range"], select {
    width: 50%; /* Input width */
    padding: 10px;
    border: 1px solid #ccc;
    
